@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #888888;
    color: white;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
/* .scroll-bg {
  width: 100%;
  background-image: url("./assets/lacasa.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto 0vh;
} */

@layer components {
    .perspective{
        perspective: 2200px;
    }
}